Flask
requests
huggingface_hub
youtube_transcript_api
pytesseract
pillow
pypdf
reportlab
python-dotenv
gunicorn
flask-cors
google-genai
Flask==3.0.0
flask-cors==4.0.0
reportlab==4.0.9
youtube-transcript-api==0.6.1
gunicorn==21.2.0
